<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            {% if app.user %}
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            {% endif %}
            <a href="{{ path("netgusto_baikal_frontend_homepage") }}"><img id="baikallogo" src="data:image/png; base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAoCAMAAADaOGodAAAAYFBMVEUAAADWGhJLSEnYFQyiKyegLCnZFArXAABISkrcKSVLSUnZFw9KSkrZFQv////mFw3gCQAzTU1QTk717u7j19e0ODbNIx9vRETssrKTk5ONPDvjg4N0dXWysbEOFhYbPT2rqCzcAAAADHRSTlMAzoZ1QRnr/vv+2aXZ7BhSAAABu0lEQVR42nXSiZKDIAwGYEXkEuT2bvv+b7mJi5btdP+ZasknMUPb3Om7oWWsHbq+FGpi1lrn4MI+mbYo0kDAW/rHmDVuyhskT8ZYVmnfWmPy/PIv733YJmfbd+fBGrn555rWpw7Cz5O0Q9WUb8/nGsf4eD21fs3c3Y076/KxphGT1kNrvxnXXV2dTHG8ElNKcXfDNY7bx48sroxEpVuwHza+7ul6aSf5MqZjXQ+olnvirntjjGP1AbS/OEi+w1v2WAbaF1hxO5Tj4TJGzpcyC6zGnUucCI8A+9Y7oSuXjCIaI7lJWH5A8BHcaAxiZ1EzFh/H8bgNJ8JTR5W4t/TlBnJO1AKi8n2JEQ5vgQdPhIl6hngqlznDDQ2R9TBPiZSGbxsQ2hmK81yxWfhcLTucp8RNsxfz5G4cYJ7KtPZvtW3DbG21Wtb8ijM5oKGGjGtMwxx8m/LswYr6OU/gjjXtlPNWqOIt56ltSBD+opq9CKQhQuivEYI0vQjiqwUFvzb5Dwn+TRTo940QqvWnYoGiYeOilWHTojoIUZEIGq2EqhCgJhBgV1C0qdITBbWgz4sifW3IlCgltFKE3vQDSicyCgB5yDkAAAAASUVORK5CYII=" /></a><a class="navbar-brand" href="{{ path("netgusto_baikal_admin_homepage") }}">Baïkal Server <span>Admin</span></a>
        </div>

        {% if app.user %}
            <div class="collapse navbar-collapse navbar-responsive-collapse">

                <div class="visible-xs">

                    <div class="pull-left" style="width: 40%">
                        {{ knp_menu_render('NetgustoBaikalAdminBundle:Builder:adminMenu', {'class': 'navbar-nav', 'currentClass': 'active'}) }}
                    </div>
                    
                    <div class="pull-right" style="width: 50%">
                        <ul class="nav navbar-nav">
                            <li><a href="{{ path('netgusto_baikal_admin_logout') }}"><i class="fa fa-power-off"></i> Signout</a></li>

                            {% if app.user.id is defined %}
                            <li class="divider"></li>
                            <li><a href="{{ path('netgusto_baikal_admin_user_form_edit', { id: app.user.id }) }}"><i class="fa fa-smile-o"></i> My profile</a></li>
                            {% endif %}

                            {% if is_granted('ROLE_FRONTEND_USER') %}

                            <li><a href="{{ path('netgusto_baikal_frontend_homepage') }}"><i class="fa fa-sign-out"></i> Switch to frontend</a></li>

                            {% endif %}
                        </ul>
                    </div>
                </div>


                <div class="visible-sm visible-md visible-lg">
                    {{ knp_menu_render('NetgustoBaikalAdminBundle:Builder:adminMenu', {'class': 'navbar-nav', 'currentClass': 'active'}) }}

                    <ul class="nav navbar-nav pull-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ app.user.getUsername() }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                
                                <li><a href="{{ path('netgusto_baikal_admin_logout') }}"><i class="fa fa-power-off"></i> Signout</a></li>


                                {% if app.user.id is defined %}
                                <li class="divider"></li>
                                <li><a href="{{ path('netgusto_baikal_admin_user_form_edit', { id: app.user.id }) }}"><i class="fa fa-smile-o"></i> My profile</a></li>
                                {% endif %}

                                {% if is_granted('ROLE_FRONTEND_USER') %}

                                <li><a href="{{ path('netgusto_baikal_frontend_homepage') }}"><i class="fa fa-sign-out"></i> Switch to frontend</a></li>
                                
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        {% endif %}
    </div>
</div>